.pageWrap {
    /* 最小全屏的高度 */
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.headerDivider{
    float: left;
    height: 44px;
    margin: 10px;
}
#logo {
    color: pink;
    text-align: center;
    margin-bottom: 0;
}
/* .wrap{
    max-width: 980px;
} */
#nav{
    float: left;
    margin-left: 30px;
}
.xsNav {
    position: absolute;
    right: 0px;
    top: opx;
    width: auto;    
}
.main{
    flex:1;
}
.main .wrap{
    border: 1px solid #ccc;
    overflow: hidden;
}
#indexMenu .ant-menu-item-selected{
    border-right: 10px solid #1890ff ;
}
#indexMenu li:hover{
    background-color:pink;
}
#indexMenu li{
    margin-right: -1px;
    text-align: center;
}
#indexMenu {
    border-right: none;
}
.indexList{
    border-left: 1px solid #ccc;
}
.indexSider{
    border-right: 1px solid #ccc;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
}
.indexXSMenu li{
    flex: 1;
    float: none;
}